<div class="container">
  <h1>Hi this is Magical Banana</h1>
  <% @feeds.each do |feed| %>
    <div class="notification">
      <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
      <div class="notification-content">
        <p><small><%= feed.created_at %></small></p>
        <p><%= feed.content_positive %></p>
      </div>
      <div class="notification-actions">
        <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
        <a href="#">Delete <i class="far fa-trash-alt"></i></a>
      </div>
    </div>
  <% end %>
</div>
